<footer>
    <p class="environment">
        Environment: {{ app.environment }} - Symfony version: 6.2.7
    </p>

    <section class="copyrights">
        <p>&copy; {{ 'now'|date('Y') }}
            <a style="color:black" href="https://github.com/ampmonteiro">AMPM</a>
        </p>
    </section>

</footer>