<header>
    <a href="/">Welcome</a>
    <nav>
        <a href="/home">Static Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="{{path('blog_create')}}">Create Post</a>
    </nav>
</header>