<footer>
    <p class="environment">
        Environment: {{ app.environment }} - Symfony version: 6.2.7
    </p>

    <section class="copyrights">
        <p>&copy; {{ 'now'|date('Y') }}
            Asad Ahmed
        </p>
    </section>

</footer>